//==============================================================================================
// LISTS
//----------------------------------------------------------------------------------------------
// Defines styles for list elements.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// GLOBAL
//----------------------------------------------------------------------------------------------
ul,
ol {
  list-style                    : none;
  list-style-image              : none;
  &.show-list-style {
    list-style                  : initial;
  }
}

//----------------------------------------------------------------------------------------------
// NAVIGATION
//----------------------------------------------------------------------------------------------
