<!-- Site Footer Area -->
<footer id="Footer" class="site footer" role="contentinfo" vocab="http://schema.org" typeof="WPFooter">
  <div class="grid-container">

    <!-- Footer Navigation -->
    <nav id="FooterNavigation" class="navigation grid-x" role="navigation">

      <!-- Contact -->
      <div class="contact cell small-6 small-order-2 medium-4 medium-order-1">
        <p class="link list heading">Contact Us</p>
        <dl itemscope itemtype="http://schema.org/Organization">
          <dt>Email</dt>
          <dd itemprop="email"><a href="mailto:info@ignia.com" class="text email">info@ignia.com</a></dd>
          <dt>Phone</dt>
          <dd itemprop="telephone"><a href="tel:18774979284" class="text phone">+1 (877) 497-9284</a></dd>
        </dl>
      </div>
      <!-- /Contact -->

      <!-- Social -->
      <div class="social cell small-6 small-order-3 medium-4 medium-order-2">
        <p class="link list heading">Visit Us</p>
        <dl itemscope itemtype="http://schema.org/Organization">
          <dt>GitHub</dt>
          <dd itemprop="url"><a class="github" href="https://github.com/Ignia">GitHub</a></dd>
          <dt>LinkedIn</dt>
          <dd itemprop="url"><a class="linkedin" href="https://www.linkedin.com/company/ignia-llc">LinkedIn</a></dd>
          <dt>Facebook</dt>
          <dd itemprop="url"><a class="facebook" href="https://www.facebook.com/Ignia-279984238690468">Facebook</a></dd>
        </dl>
      </div>
      <!-- /Social -->

      <!-- Logo -->
      <div class="logo cell small-order-1 medium-4 medium-order-3">
        <a href="/"><img src="~/Images/Logo.png" alt="Ignia, LLC" /></a>
      </div>
      <!-- /Logo -->

    </nav>
    <!-- /Footer Navigation -->

    <div class="copyright grid-x" itemscope itemtype="http://schema.org/Organization"><small>Copyright <span property="copyrightYear">@DateTime.Now.Year</span> <span property="copyrightHolder" typeof="Organization"><span property="name">Ignia, LLC</span>. All rights reserved.</span> <span class="line-break">Ignia<i class="far fa-registered"></i> is a registered trademark of Ignia, LLC.</span></small></div>

  </div>
</footer>
<!-- /Site Footer Area -->