//==============================================================================================
// HOME
//----------------------------------------------------------------------------------------------
// Represents styles specific to the Ignia homepage.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
// NOTE: It is expected that this page will co-exist with the centralized stylesheet and,
// therefore, it is not necessary that it reimport shared styles. It may, however, need to
// import variables and helpers.
//----------------------------------------------------------------------------------------------
@import "../variables";
@import "../settings";
@import "../Vendor/ZURB/util/mixins";
@import "../Helpers/mixins";
@import "../Base/utilities";

//----------------------------------------------------------------------------------------------
// SKIN
//----------------------------------------------------------------------------------------------

body {
  @include breakpoint(959px down) {
    background-position         : center rem-calc(65);
  }
}

main {
  padding                       : 0;
  @include breakpoint(767px down) {
    overflow-y                  : scroll;
  }
}

footer.footer {
  z-index                       : 45;
  position                      : relative;
  @include breakpoint(768px) {
    margin-top                  : -15px;
  }
}

//----------------------------------------------------------------------------------------------
// CORE
//----------------------------------------------------------------------------------------------

.panel {
  margin                        : 0 auto;
  width                         : 100%;

  // Common - panels
  &.introduction,
  &.services,
  &.clients,
  &.contact {
    position                    : relative;
    header {
      margin                    : 0 auto;
      border-bottom-width       : 1px;
      border-bottom-style       : solid;
      min-height                : rem-calc(82);
      text-align                : center;
      h1 {
        margin                  : 0;
        padding                 : rem-calc(51 0 15);
        font-family             : $body-font-family;
        font-size               : $body-font-size;
        font-weight             : 600;
        font-style              : italic;
        letter-spacing          : 0.357em;
        @extend .uppercase;
      }
    }
    span.overlay {
      z-index                   : -1;
      position                  : absolute;
      top                       : 0;
      right                     : 0;
      bottom                    : 0;
      left                      : 0;
      width                     : 100%;
      height                    : 100%;
      background-color          : $palette-black;
      opacity                   : 0;
    }
  }
  &.introduction,
  &.services,
  &.contact {
    header {
      border-bottom-color       : $palette-white;
      h1 {
        color                   : $palette-white;
      }
    }
  }
  span.overlay {
    z-index                     : -1;
    opacity                     : 0;
  }
  .section-heading {
    font-family                 : $special-headings-font-family;
  }

  // Splash
  &.splash {
    z-index                     : 3;
    display                     : flex;
    flex-direction              : column;
    justify-content             : center;
    text-align                  : center;
    background                  : transparent url('/Images/Home/Hero.Large.jpg') no-repeat center 120px;
    background-size             : cover;
    background-attachment       : fixed;
    @include breakpoint(959px down) {
      background-position       : center top;
      background-attachment     : scroll;
    }
    h1,
    h2 {
      margin                    : 0;
      padding                   : 0 2.5%;
      line-height               : 1.3;
      color                     : rgb(254, 254, 254);           // #FEFEFE
      @include breakpoint(639px down) {
        font-size               : rem-calc(21);
      }
      @include breakpoint(640px) {
        font-size               : rem-calc(36);
      }
    }
    .wrapper {
      display                   : block;
      position                  : relative;
      overflow                  : visible;
      margin                    : 0 auto;
      padding                   : rem-calc(25 0);
      max-width                 : 95%;
      background                : rgba(0, 0, 0, 0.75);
      @include breakpoint(959px down) {
        min-width               : 90%;
      }
      @include breakpoint(960px) {
        min-width               : rem-calc(721);
      }
    }
    .logo {
      padding-bottom            : rem-calc(27);
      max-height                : rem-calc(85);
      @include breakpoint(639px down) {
        padding-bottom          : rem-calc(10);
        max-height              : rem-calc(42.5);
      }
    }
    .navigation.arrow {
      display                   : block;
      margin                    : rem-calc(77) auto rem-calc(-63);
      width                     : rem-calc(110);
      height                    : rem-calc(110);
      max-height                : rem-calc(110);
      text-align                : center;
      background                : $palette-yellow;
      @include breakpoint(639px down) {
        margin                  : rem-calc(35) auto rem-calc(-44);
        width                   : rem-calc(55);
        max-width               : rem-calc(55);
        height                  : rem-calc(55);
        max-height              : rem-calc(55);
      }
      img {
        margin                  : rem-calc(24);
        width                   : rem-calc(62);
        height                  : rem-calc(65);
        @include breakpoint(639px down) {
          margin                : rem-calc(12);
          width                 : rem-calc(31);
          height                : rem-calc(32.5);
        }
      }
    }
    span.overlay {
      position                  : absolute;
      top                       : 0;
      right                     : 0;
      bottom                    : 0;
      left                      : 0;
      width                     : 100%;
      height                    : 100%;
      background-color          : $palette-black;
    }
  }

  // Introduction
  &.introduction {
    z-index                     : 10;
    color                       : $palette-white;
    background                  : $palette-red url('/Images/Home/Introduction.Tile.png') repeat center top;
    header {
      z-index                   : 13;
      background                : $palette-red url('/Images/Home/Introduction.Tile.png') repeat center top;
      h1 {
        span {
          display               : inline-block;
        }
      }
    }
    .container {
      @include breakpoint(960px) {
        background              : transparent url('/Images/Home/Tagline.Rulers.png') no-repeat 125px 100%;
      }
    }
    section {
      p {
        margin                  : rem-calc(0 0 52);
        line-height             : 1.8;
        color                   : $palette-white;
        @include breakpoint(767px down) {
          margin-bottom         : rem-calc(28);
        }
        &:first-child {
          padding-top           : rem-calc(40);
          @include breakpoint(767px down) {
            padding-top         : rem-calc(25);
          }
        }
        &:first-child:first-letter {
          display               : inline-block;
          float                 : left;
          margin                : rem-calc(9 5 0 0);
          font-size             : rem-calc(63);
          line-height           : rem-calc(42);
          font-weight           : 900;
          color                 : $palette-yellow;
        }
        &:last-child {
          padding-bottom        : rem-calc(40);
        }
      }
      &.tagline {
        .section-heading {
          border-bottom         : 1px solid $palette-white;
          font-family           : $body-font-family;
          font-size             : rem-calc(110);
          line-height           : 113%;
          font-weight           : 700;
          color                 : $palette-yellow;
          @extend .uppercase;
          @include breakpoint(960px) {
            margin              : 0;
            padding             : rem-calc(76 0 78 62);
          }
          @include breakpoint(959px down) {
            margin              : 0 auto;
            padding             : 2.5% 0;
            max-width           : 95%;
            font-size           : rem-calc(90);
            text-align          : center;
          }
          @include breakpoint(767px down) {
            font-size           : rem-calc(44);
          }
          @include breakpoint(359px down) {
            font-size             : rem-calc(38);
          }
          span {
            display             : block;
            font-style          : italic;
            color               : $palette-white;
          }
        }

      }
      &.factory {
        display                 : none;
        @include breakpoint(960px) {
          display               : block;
          position              : relative;
          top                   : rem-calc(34);
          float                 : left;
          margin                : rem-calc(0 10);
          min-width             : rem-calc(419);
          width                 : 47.91682%;
          min-height            : rem-calc(800);
          background            : transparent url('/Images/Home/Tagline.Code.png') no-repeat 44px 77.5%;
        }
        img {
          padding-left          : 9.5%;
        }
      }
      &.body {
        float                   : left;
        margin                  : 0 1.04159% 0 9.37492%;
        width                   : 81.25016%;
        @include breakpoint(960px) {
          width                 : 31.25016%;
        }
      }

    }
  }

  // Services
  &.services {
    z-index                     : 20;
    background                  : $palette-grey-darker;
    header {
      border-color              : rgb(166, 161, 156);
      background                : $palette-grey-darker;
      &:first-child {
        @include breakpoint(767px down) {
          z-index               : 21;
        }
      }
    }
    nav {
      text-align                : center;
      @include breakpoint(767px down) {
        display                 : none;
      }
      ul {
        @include clearfix;
        clear                   : both;
        position                : relative;
        margin                  : rem-calc(66) auto;
        padding                 : 0;
        background              : transparent url('/Images/Home/Services.Background.png') no-repeat center center;
        @include breakpoint(960px) {
          min-width             : rem-calc(782);
          width                 : rem-calc(782);
          min-height            : rem-calc(262);
        }
        @media screen and #{breakpoint(768px)} and #{breakpoint(960px down)} {
          margin-top            : rem-calc(35);
          margin-bottom         : rem-calc(15);
          width                 : rem-calc(680);
          min-height            : rem-calc(242);
          background-size       : 100%;
        }
        li {
          display               : block;
          position              : absolute;
          max-width             : rem-calc(219);
          text-align            : center;
          @include breakpoint(960px) {
            width               : rem-calc(219);
            height              : rem-calc(220);
          }
          @media screen and #{breakpoint(768px)} and #{breakpoint(960px down)} {
            display             : table;
            border-radius       : 50%;
            width               : rem-calc(190);
            height              : rem-calc(190);
          }
          @include breakpoint(767px down) {
            margin-top          : rem-calc(10);
            background-repeat   : no-repeat;
            background-position : center center;
            background-size     : contain;
          }
          &.first {
            @include breakpoint(960px) {
              top               : rem-calc(43);
              left              : 0;
            }
            @media screen and #{breakpoint(768px)} and #{breakpoint(960px down)} {
              top               : rem-calc(44);
              left              : 0;
            }
          }
          &.second {
            @include breakpoint(960px) {
              top               : 0;
              left              : rem-calc(281);
            }
            @media screen and #{breakpoint(768px)} and #{breakpoint(960px down)} {
              top               : rem-calc(9);
              left              : rem-calc(246);
            }
          }
          &.third {
            @include breakpoint(960px) {
              top               : rem-calc(44);
              left              : rem-calc(564);
            }
            @media screen and #{breakpoint(768px)} and #{breakpoint(960px down)} {
              top               : rem-calc(44);
              left              : rem-calc(490);
            }
          }
          a {
            display             : block;
            margin              : 0 auto;
            color               : rgb(127, 123, 118);
            text-align          : center;
            @include breakpoint(960px) {
              height            : rem-calc(220);
            }
            @include breakpoint(768px) {
              display           : table-cell;
              vertical-align    : middle;
            }
            &:hover,
            &:focus,
            &:active,
            &.active {
              color             : $palette-yellow;
            }
          }
        }
      }
      h2 {
        margin                  : 0;
        font-family             : $special-headings-font-family;
        @include breakpoint(960px) {
          padding               : 0 10%;
          line-height           : rem-calc(42);
        }
        @media screen and #{breakpoint(768px)} and #{breakpoint(960px down)} {
          padding               : 0 18%;
          font-size             : rem-calc(24);
          line-height           : rem-calc(31);
        }
      }
    }
    section.details {
      position                  : relative;
      margin                    : 0 13.5%;
      padding-bottom            : rem-calc(70);
      @include breakpoint(767px down) {
        margin                  : 0;
      }
      @media screen and #{breakpoint(768px)} and #{breakpoint(960px down)} {
        margin                  : rem-calc(20) 11.75% 0;
      }
      header {
        display                 : table;
        border-bottom           : 0 none transparent;
        margin                  : 2.5% 0;
        padding                 : 2.5% 0 2.5% 5%;
        text-align              : left;
        background-color        : transparent;
        background-repeat       : no-repeat;
        background-position     : 0 50%;
        background-size         : contain;
        @include breakpoint(768px) {
          display               : none;
        }
        h2 {
          display               : table-cell;
          vertical-align        : middle;
          font-family           : $special-headings-font-family;
          font-size             : rem-calc(25);
          line-height           : 115%;
          color                 : $palette-yellow;
          text-shadow           : 1px 1px 3px rgb(75, 75, 75);
        }
      }
      article {
        @include breakpoint(768px) {
          display               : none;
          border-top            : 1px solid $palette-yellow;
          padding               : rem-calc(31) 2.5% 0;
          &:before,
          &:after {
            content             : '';
            display             : block;
            position            : absolute;
            right               : auto;
            left                : 0;
            border-width        : rem-calc(14);
            border-style        : solid;
            width               : 0;
            height              : 0;
            transition          : all 250ms ease-in-out;
          }
          &:before {
            top                 : rem-calc(-28);
            border-color        : transparent transparent $palette-yellow transparent;
          }
          &:after {
            display             : block;
            position            : absolute;
            top                 : rem-calc(-26);
            border-color        : transparent transparent rgb(51, 46, 44) transparent;
          }
        }
        @include breakpoint(767px down) {
          padding               : 2.5% 2.5% 0;
          &:first-child {
            header {
              background-image  : url('/Images/Home/Services.Circle1.png');
            }
          }
          &:nth-child(2) {
            header {
              background-image  : url('/Images/Home/Services.Circle2.png');
            }
          }
          &:nth-child(3) {
            header {
              background-image  : url('/Images/Home/Services.Circle3.png');
            }
          }
        }
        &.active {
          display               : block;
          &:first-child:before,
          &:first-child:after {
            left                : 5.25%;
          }
          &:nth-child(2):before,
          &:nth-child(2):after {
            left                : 48%;
          }
          &:nth-child(3):before,
          &:nth-child(3):after {
            right               : 5.25%;
            left                : auto;
          }
        }
        p,
        aside {
          display               : block;
          float                 : left;
          font-size             : $body-font-size;
          @include breakpoint(767px down) {
            float               : none;
            margin              : 2.5% 5% 0;
          }
        }
        p {
          line-height           : rem-calc(31);
          color                 : $palette-white;
          @include breakpoint(960px) {
            margin-right        : 5%;
            max-width           : 60%;
          }
          @media screen and #{breakpoint(768px)} and #{breakpoint(960px down)} {
            float               : left;
            max-width           : 55%;
          }
          @include breakpoint(767px down) {
            margin-top          : rem-calc(8);
          }
        }
        aside {
          border-radius         : rem-calc(3);
          padding               : rem-calc(12 20 5);
          background            : rgba(0, 0, 0, 0.1);
          @include breakpoint(960px) {
            margin-top          : rem-calc(-8);
            width               : 35%;
            max-width           : 35%;
            min-height          : rem-calc(200);
          }
          @media screen and #{breakpoint(768px)} and #{breakpoint(960px down)} {
            float               : right;
            max-width           : 35%;
          }
          @include breakpoint(767px down) {
            margin-top          : 2.5%;
            margin-bottom       : 5%;
          }
          ul {
            margin              : 0;
            padding-left        : 0;
            li {
              padding-bottom    : rem-calc(7);
              color             : rgba($palette-white, 0.5);
            }
          }
        }
      }
    }
  }

  // Clients
  &.clients {
    z-index                     : 30;
    background                  : $palette-yellow url('/Images/Home/Clients.Tile.png') repeat center top;
    @include breakpoint(960px) {
      z-index                   : 35;
    }
    @include breakpoint(959px down) {
      padding-bottom            : 18%;
    }
    .container {
      position                  : relative;
    }
    header {
      border-bottom-color       : $palette-grey-dark;
      background                : $palette-yellow url('/Images/Home/Clients.Tile.png') repeat center top;
      h1 {
        color                   : $palette-grey-dark;
      }
    }
    section.logos,
    section.headings {
      position                  : relative;
    }
    section.logos {
      margin                    : 0 auto;
      @include breakpoint(960px) {
        top                     : rem-calc(54);
        padding-left            : rem-calc(10);
      }
      @media screen and #{breakpoint(768px)} and #{breakpoint(960px down)} {
        top                     : rem-calc(30);
        padding-bottom          : 3%;
        text-align              : center;
      }
      @include breakpoint(767px down) {
        top                     : rem-calc(18);
        text-align              : center;
      }
    }
    section.headings {
      top                       : rem-calc(84);
      @include breakpoint(959px down) {
        top                     : rem-calc(20);
      }
      h2 {
        position                : relative;
        font-size               : rem-calc(48);
        line-height             : 1;
        color                   : $palette-grey-dark;
        @include breakpoint(960px) {
          padding               : 0;
        }
        @include breakpoint(959px down) {
          text-align            : center;
        }
        @include breakpoint(768px) {
          font-size             : rem-calc(60);
          line-height           : rem-calc(65);
        }
        @media screen and #{breakpoint(768px)} and #{breakpoint(960px down)} {
          font-size             : rem-calc(36);
        }
        @include breakpoint(767px down) {
          font-size             : rem-calc(24);
        }
        &.subheadline {
          top                   : rem-calc(33);
          @media screen and #{breakpoint(768px)} and #{breakpoint(960px down)} {
            top                 : rem-calc(25);
          }
          @include breakpoint(767px down) {
            top                 : 0;
          }
        }
        span {
          @include breakpoint(960px) {
            display             : block;
          }
        }
      }
      .arrow {
        display                 : block;
        position                : relative;
        top                     : rem-calc(69);
        width                   : rem-calc(110);
        height                  : rem-calc(110);
        text-align              : center;
        background-color        : $palette-red;
        @include breakpoint(959px down) {
          display               : none;
        }
        img {
          margin-top            : rem-calc(24);
          opacity               : 0.95;
          filter                : alpha(opacity=95);
        }
      }
    }
    ul {
      display                   : inline-block;
      margin                    : 0 auto;
      padding-left              : 0;
      text-align                : center;
      @include breakpoint(960px) {
        padding-bottom          : rem-calc(34);
        padding-left            : rem-calc(10);
      }
      @media screen and #{breakpoint(768px)} and #{breakpoint(960px down)} {
        max-width               : 91.5%;
      }
      @media screen and #{breakpoint(360px)} and #{breakpoint(767px down)} {
        max-width               : 75%;
      }
      @include breakpoint(359px down) {
        max-width               : 84.5%;
      }
      li {
        display                 : table;
        float                   : left;
        margin                  : rem-calc(0 20 20 0);
        border-radius           : rem-calc(3);
        width                   : rem-calc(220);
        min-height              : rem-calc(60);
        height                  : rem-calc(200);
        background              : rgba(0, 0, 0, 0.05);
        transform-style         : preserve-3d;
        @media screen and #{breakpoint(410px)} and #{breakpoint(767px down)} {
          width                 : rem-calc(144);
          height                : rem-calc(110);
        }
        @media screen and #{breakpoint(360px)} and #{breakpoint(409px down)} {
          width                 : rem-calc(131);
          height                : rem-calc(100);
        }
        @include breakpoint(359px down) {
          width                 : rem-calc(124);
          height                : rem-calc(90);
        }
        &:nth-child(even),
        &:last-child {
          margin-right          : 0;
        }
        &:nth-child(3n) {
          @media screen and #{breakpoint(768px)} and #{breakpoint(960px down)} {
            margin-right        : 0;
          }
        }
        span {
          display               : table-cell;
          text-align            : center;
          vertical-align        : middle;
        }
      }
    }
    img.logo {
      width                     : 100%;
      max-width                 : rem-calc(140);
      @include breakpoint(767px down) {
        max-width               : rem-calc(90);
      }
    }
  }

}
