.hidden {
  display: none; }

.centered {
  text-align: center; }

.no-list-style {
  list-style: none; }

.uppercase {
  text-transform: uppercase; }

.no-transform {
  text-transform: none; }

main {
  min-height: 768px; }

.library.index {
  color: white; }
  .library.index header,
  .library.index section {
    padding-right: 18px;
    padding-left: 18px;
    background: transparent; }
  .library.index > header > h2 {
    color: #f2eee6; }
  .library.index .introduction,
  .library.index .introduction p {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 14px; }
  .library.index ul {
    padding-left: 0;
    list-style-type: none; }

details summary {
  outline: none;
  max-height: 52px; }
  details summary:hover, details summary:focus, details summary:active {
    outline: none;
    max-height: 52px; }
  details summary::-webkit-details-marker {
    display: none; }
  details summary h3 {
    color: #a6a6a6;
    cursor: pointer; }
    details summary h3:hover, details summary h3:active, details summary h3:focus {
      color: #f0ad20; }
    details summary h3:before {
      content: "+";
      display: inline-block;
      margin-right: 5px;
      padding-bottom: 3px;
      width: 20px;
      font-size: 135%;
      cursor: pointer; }

details[open] summary h3,
details.open summary h3 {
  color: #f0ad20; }
  details[open] summary h3:before,
  details.open summary h3:before {
    content: "-"; }

details[open] ul,
details.open ul {
  display: block; }

details ul {
  margin: 0 0 0 26px; }

details li {
  margin-bottom: 15px; }
  details li h4 {
    margin-bottom: 0; }
    details li h4 a {
      color: #f2eee6; }
      details li h4 a:hover, details li h4 a:focus, details li h4 a:active {
        color: #f0ad20; }
  details li .abstract {
    margin: 0 0 12px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 14px; }
    details li .abstract p {
      margin: 0;
      font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
      font-size: 14px; }
