//==============================================================================================
// LIBRARY
//----------------------------------------------------------------------------------------------
// Represents styles specific to the Ignia Library page(s).
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
// NOTE: It is expected that this page will co-exist with the centralized stylesheet and,
// therefore, it is not necessary that it reimport shared styles. It may, however, need to
// import variables and helpers.
//----------------------------------------------------------------------------------------------
@import "../variables";
@import "../settings";
@import "../Vendor/ZURB/util/mixins";
@import "../Helpers/mixins";
@import "../Base/utilities";

//----------------------------------------------------------------------------------------------
// LAYOUT
//----------------------------------------------------------------------------------------------

main {
  min-height                    : rem-calc(768);
}

//----------------------------------------------------------------------------------------------
// HEADER CONTENT
//----------------------------------------------------------------------------------------------

section[itemprop="mainContentOfPage"] {
  > header {
    min-height                  : rem-calc(80);
    h1 {
      margin                    : 0;
      padding                   : rem-calc(26 0 18);
      font-family               : $headings-font-family;
      font-size                 : rem-calc(36);
      line-height               : 1;
      font-weight               : 300;
      color                     : $palette-secondary-white;
    }
  }
}

//----------------------------------------------------------------------------------------------
// INDEX CONTENT
//----------------------------------------------------------------------------------------------

.library {
  &.index {
    padding                     : rem-calc(32 0);
    color                       : $palette-secondary-white;
    header,
    section {
      background                : transparent;
    }
    > header {
      > h2 {
        color                   : $palette-white;
      }
    }
    .introduction,
    .introduction p {
      font-family               : $body-font-family;
      font-size                 : rem-calc(14);
    }
    ul {
      padding-left              : 0;
      list-style-type           : none;
    }
  }
}

details {
  summary {
    outline                     : none;
    max-height                  : rem-calc(52);
    &:hover,
    &:focus,
    &:active {
      outline                   : none;
      max-height                : rem-calc(52);
    }
    &::-webkit-details-marker {
      display                   : none;
    }
    h3 {
      color                     : $palette-secondary-grey-light;
      cursor                    : pointer;
      &:hover,
      &:active,
      &:focus {
        color                   : $palette-yellow;
      }
      &:before {
        content                 : "+";
        display                 : inline-block;
        margin-right            : rem-calc(5);
        padding-bottom          : rem-calc(3);
        width                   : rem-calc(20);
        font-size               : 135%;
        cursor                  : pointer;
      }
    }
  }
  &[open] summary h3,
  &.open summary h3 {
    color                       : $palette-yellow;
    &:before {
      content                   : "-";
    }
  }
  &[open] ul,
  &.open ul {
    display                     : block;
  }
  ul {
    margin                      : rem-calc(0 0 0 26);
  }
  li {
    margin-bottom               : rem-calc(15);
    h4 {
      margin-bottom             : 0;
      a {
        color                   : $palette-white;
        &:hover,
        &:focus,
        &:active {
          color                 : $palette-yellow;
        }
      }
    }
    .abstract {
      margin                    : rem-calc(0 0 12);
      font-family               : $body-font-family;
      font-size                 : rem-calc(14);
      p {
        margin                  : 0;
        font-family             : $body-font-family;
        font-size               : rem-calc(14);
      }
    }
  }
}
