//==============================================================================================
// LIBRARY
//----------------------------------------------------------------------------------------------
// Represents styles specific to the Ignia Library page(s).
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
// NOTE: It is expected that this page will co-exist with the centralized stylesheet and,
// therefore, it is not necessary that it reimport shared styles. It may, however, need to
// import variables and helpers.
//----------------------------------------------------------------------------------------------
@import "../variables";
@import "../settings";
@import "../Vendor/ZURB/util/mixins";
@import "../Helpers/mixins";
@import "../Base/utilities";

//----------------------------------------------------------------------------------------------
// LAYOUT
//----------------------------------------------------------------------------------------------

main {
  min-height                    : rem-calc(768);
}

#PrimaryNavigation,
#PrimaryNavigationSmallScreen {
  ul {
    li {
      a {
        &.ancillary {
          border-width          : 0;
        }
        .ordinal {
          display               : none;
        }
      }
    }
  }
  img.annotation {
    display                     : none;
  }
}
#PrimaryNavigation {
  ul {
    li {
      a {
        &:hover,
        &:focus,
        &:active,
        &.active {
          .ordinal {
            display             : none;
          }
        }
        &.ancillary {
          position              : relative;
          top                   : rem-calc(1);
          border-bottom-width   : rem-calc(10);
          border-style          : solid;
          padding-bottom        : rem-calc(7);
        }
        .ordinal {
          @include breakpoint(959px down) {
            display             : none;
          }
        }
      }
    }
  }
}
#PrimaryNavigationSmallScreen {
  ul {
    top: rem-calc(44);
    li {
      a {
        &.ancillary {
          margin-left           : 0;
          padding-top           : 0;
          padding-bottom        : 0;
          @include breakpoint(959px down) {
            padding-left        : rem-calc(40);
          }
          @include breakpoint(767px down) {
            padding-left        : rem-calc(24);
          }
        }
      }
    }
  }
}

//----------------------------------------------------------------------------------------------
// BASE
//----------------------------------------------------------------------------------------------

header,
footer {
  &.site {
    background-color            : $palette-secondary-grey-dark;
    background-image            : none;
  }
}
.header {
  &.site {
    .navigation {
      &.off-canvas {
        background-color        : $palette-secondary-grey-dark;
        background-image        : none;
      }
      a {
        border-bottom           : rem-calc(10) solid transparent;
        font-family             : $headings-font-family;
        font-size               : rem-calc(20);
        font-weight             : 300;
        color                   : $palette-secondary-white;
        text-transform          : none;
        @include breakpoint(959px down) {
          border-bottom-color   : transparent;
        }
        &:hover,
        &:focus,
        &:active,
        &.active {
          border-bottom-color   : $palette-red;
          color                 : darken($palette-secondary-white, 30.5%);
          @include breakpoint(959px down) {
            border-bottom-color : transparent;
            background-position : rem-calc(-81 4);
          }
        }
        &.ancillary {
          border                : 0 none transparent;
          border-bottom-width   : rem-calc(10);
          border-bottom-style   : solid;
          border-bottom-color   : $palette-red;
          color                 : darken($palette-secondary-white, 30.5%);
          &:hover,
          &:focus,
          &:active {
            border              : 0 none transparent;
            border-bottom-width : rem-calc(10);
            border-bottom-style : solid;
            border-bottom-color : $palette-red;
          }
        }
      }
    }
  }
}

//----------------------------------------------------------------------------------------------
// HEADER CONTENT
//----------------------------------------------------------------------------------------------

section[itemprop="mainContentOfPage"] {
  > header {
    min-height                  : rem-calc(70);
    &.header {
      background-color          : lighten($palette-secondary-grey-darkest, 4%);
      background-image          : none;
    }
    h1 {
      margin                    : 0;
      border-style              : none solid;
      border-color              : $palette-grey-dark;
      padding                   : rem-calc(26 0 18);
      font-family               : $headings-font-family;
      font-size                 : rem-calc(36);
      line-height               : 1;
      font-weight               : 300;
      color                     : $palette-secondary-white;
      background-color          : $palette-secondary-grey-darkest;
    }
  }
}
