//==============================================================================================
// SETTINGS
//----------------------------------------------------------------------------------------------
// Foundation for Sites settings, customized for GoldSim
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORT DEPENDENCIES
//----------------------------------------------------------------------------------------------
@import 'util/util';
@import 'variables';

//----------------------------------------------------------------------------------------------
// 1. Global
//----------------------------------------------------------------------------------------------

$global-width                   : rem-calc(960);                // rem-calc(1200)
$foundation-palette             : (
  primary                       : $palette-yellow,              // #1779ba
  secondary                     : $palette-grey-light,          // #767676
  success                       : rgb(101, 166, 31),            // WAS #3adb76
  warning                       : rgb(239, 141, 36),            // WAS #ffaa00
  alert                         : $palette-red,                 // #cc4b37
);
$light-gray                     : $palette-grey-lighter;        // #e6e6e6
$medium-gray                    : $palette-grey-light;          // #cacaca
$dark-gray                      : $palette-grey-dark;           // #8a8a8a
$black                          : $palette-black;               // #0a0a0a
$white                          : $palette-white;               // #fefefe
$yellow                         : $palette-yellow;
$body-font-color                : $text-color;                  // $black
$body-font-family               : $body-font-family;            // 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif
$global-weight-normal           : 400;                          // normal
$global-flexbox                 : true;                         // REQUIRED
$global-button-cursor           : pointer;                      // auto

@include add-foundation-colors;

//----------------------------------------------------------------------------------------------
// 2. Breakpoints
//----------------------------------------------------------------------------------------------
$breakpoint-classes             : (small medium large xlarge xxlarge); // ADD xlarge, xxlarge

//----------------------------------------------------------------------------------------------
// 3. The Grid
//----------------------------------------------------------------------------------------------

$grid-column-gutter             : (
  small                         : 10px,                         // 10px
  medium                        : 20px,
);

//----------------------------------------------------------------------------------------------
// 4. Base Typography
//----------------------------------------------------------------------------------------------

$header-font-family             : $headings-font-family;        // $body-font-family
$header-font-weight             : 300;                          // $global-weight-normal
$header-styles                  : (
  small                         : (
    'h1'                        : ('font-size': 24),
    'h2'                        : ('font-size': 20),
    'h3'                        : ('font-size': 16),            // 19
    'h4'                        : ('font-size': 14),            // 18
    'h5'                        : ('font-size': 12),            // 17
    'h6'                        : ('font-size': 12),            // 16
  ),
  medium                        : (
    'h1'                        : ('font-size': 36),            // 48
    'h2'                        : ('font-size': 30),            // 40
    'h3'                        : ('font-size': 24),            // 31
    'h4'                        : ('font-size': 18),            // 25
    'h5'                        : ('font-size': 14),            // 20
    'h6'                        : ('font-size': 12),            // 16
  ),
);
$anchor-color                   : $primary-color;               // $palette-yellow
$blockquote-color               : $palette-grey-medium;         // $dark-gray
$blockquote-padding             : rem-calc(0 0 16 30);          // rem-calc(9 20 0 19)
$blockquote-border              : 2px solid $palette-grey-medium; // 1px solid $medium-gray

//----------------------------------------------------------------------------------------------
// 5. Typography Helpers
//----------------------------------------------------------------------------------------------

$lead-font-size                 : $global-font-size * 1.25;
$lead-lineheight                : 1.6;
$subheader-lineheight           : 1.4;
$subheader-color                : $dark-gray;
$subheader-font-weight          : $global-weight-normal;
$subheader-margin-top           : 0.2rem;
$subheader-margin-bottom        : 0.5rem;
$stat-font-size                 : 2.5rem;
$cite-color                     : $palette-grey-medium;         // $dark-gray
$cite-font-size                 : rem-calc(14);                 // rem-calc(13)

//----------------------------------------------------------------------------------------------
// 11. Button
//----------------------------------------------------------------------------------------------

$button-padding                 : 0.75rem;                      // 0.85em 1em;
$button-background              : $palette-yellow;              // $primary-color
$button-color                   : $body-font-color;             // $white
$button-radius                  : 2px;                          // $global-radius

//----------------------------------------------------------------------------------------------
// 15. Close Button
//----------------------------------------------------------------------------------------------

$closebutton-color              : $white;                       // WAS $dark-gray
$closebutton-color-hover        : $palette-yellow;              // WAS $black

//----------------------------------------------------------------------------------------------
// 18. Dropdown Menu
//----------------------------------------------------------------------------------------------

$dropdownmenu-arrow-color       : $palette-white;               // WAS $anchor-color
$dropdownmenu-background        : $white;                       // null
$dropdownmenu-submenu-background: $dropdownmenu-background;     // $white

//----------------------------------------------------------------------------------------------
// 21. Label
//----------------------------------------------------------------------------------------------

$label-background               : transparent;                  // WAS $primary-color
$label-color                    : $black;                       // WAS $white
$label-font-size                : $global-font-size;            // WAS 0.8rem
$label-padding                  : 0;                            // WAS 0.33333rem 0.5rem

//----------------------------------------------------------------------------------------------
// 25. Off-canvas
//----------------------------------------------------------------------------------------------

$offcanvas-vertical-sizes       : (
  small                         : 496px,                        // 250px
);
$offcanvas-background           : $palette-white;               // $light-gray
$offcanvas-exit-background      : rgba($palette-grey-dark, 0.75); // rgba($white, 0.25)

//----------------------------------------------------------------------------------------------
// 47. Reveal
//----------------------------------------------------------------------------------------------

$reveal-background              : $black;                       // $white;
$reveal-width                   : auto;                         // 600px;
$reveal-padding                 : rem-calc(48 0 32);            // $global-padding
$reveal-border                  : 1px solid $black;             // 1px solid $medium-gray
$reveal-overlay-background      : rgba(242, 238, 230, 0.65);    // rgba($black, 0.45)

//----------------------------------------------------------------------------------------------
// 52. Thumbnail
//----------------------------------------------------------------------------------------------

$thumbnail-border               : none 0 transparent;           // 4px solid $white
$thumbnail-shadow               : none;                         // 0 0 0 1px rgba($black, 0.2);
$thumbnail-shadow-hover         : none;                         // 0 0 6px 1px rgba($primary-color, 0.5)

//----------------------------------------------------------------------------------------------
// 53. Title Bar
//----------------------------------------------------------------------------------------------

$titlebar-background            : $white;                       // $black
$titlebar-color                 : $black;                       // $white
$titlebar-icon-color            : $black;                       // $white
$titlebar-icon-color-hover      : $dark-gray;                   // $medium-gray

//----------------------------------------------------------------------------------------------
// 56. Xy Grid
//----------------------------------------------------------------------------------------------

$grid-margin-gutters            : (
  small                         : 10px,                         // 20px
  medium                        : 20px
);