//==============================================================================================
// LIBRARY
//----------------------------------------------------------------------------------------------
// Represents styles specific to the Ignia Library Index view.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
// NOTE: It is expected that this page will co-exist with the centralized stylesheet and,
// therefore, it is not necessary that it reimport shared styles. It may, however, need to
// import variables and helpers.
//----------------------------------------------------------------------------------------------
@import "../variables";
@import "../settings";
@import "../Vendor/ZURB/util/mixins";
@import "../Helpers/mixins";
@import "../Base/utilities";

//----------------------------------------------------------------------------------------------
// INDEX CONTENT
//----------------------------------------------------------------------------------------------

.library {
  &.index {
    padding-top                 : rem-calc(48);
    padding-bottom              : rem-calc(48);
    color                       : $palette-secondary-white;
    header,
    section {
      background                : transparent;
    }
    section {
      &.articles.list {
        margin-bottom           : rem-calc(24);
      }
      h2,
      h3,
      h4,
      h5,
      h6 {
        a,
        a:hover,
        a:focus,
        a:active {
          color                 : $palette-yellow;
        }
      }
      h2 {
        margin                  : rem-calc(0 0 32 0);
        padding                 : rem-calc(0 0 16 0);
        font-size               : rem-calc(28);
        color                   : $palette-white;
      }
      h3 {
        margin-bottom           : rem-calc(20);
        padding-left            : rem-calc(16);
        font-size               : rem-calc(20);
      }
      .article.item {
        padding                 : 0 5%;
      }
    }
    .introduction,
    .introduction p {
      font-family               : $body-font-family;
      font-size                 : rem-calc(14);
    }
    ul {
      padding-left              : 0;
      list-style-type           : none;
    }
  }
}