//==============================================================================================
// ICONS
//----------------------------------------------------------------------------------------------
// Defines styles for icon-decorated or custom icon elements.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// GLOBAL
//----------------------------------------------------------------------------------------------

.email:before {
  @include fa-solid;
  content                       : fa-content($fa-var-envelope);
  vertical-align                : middle;
}

.phone:before {
  @include fa-solid;
  content                       : fa-content($fa-var-phone);
  vertical-align                : middle;
}

.github:before {
  @include fa-brand;
  content                       : fa-content($fa-var-github);
}

.linkedin:before {
  @include fa-brand;
  content                       : fa-content($fa-var-linkedin-in);
}

.facebook:before {
  @include fa-brand;
  content                       : fa-content($fa-var-facebook-f);
}