//==============================================================================================
// LINKS
//----------------------------------------------------------------------------------------------
// Defines common styles for linked elements.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import "../variables";

//----------------------------------------------------------------------------------------------
// GLOBAL
//----------------------------------------------------------------------------------------------

a {
  color                         : $palette-red;
  text-decoration               : none;
  &:hover,
  &:focus,
  &:active {
    outline                     : 0 none transparent;
    color                       : $palette-red;
  }
}