@model Ignia.Web.Models.NavigationViewModel

<!-- Site Footer Area -->
<footer id="Footer" class="site footer" role="contentinfo">
  <div class="grid-container">
    <div class="copyright"><small><span><i class="far fa-copyright"></i> Copyright @DateTime.Now.Year Ignia, LLC. All rights reserved.</span> <span>Ignia<i class="far fa-registered"></i> is a registered trademark of Ignia, LLC.</span></small></div>
  </div>
</footer>
<!-- /Site Footer Area -->
