@model NavigationViewModel

<nav id="PrimaryNavigationSmallScreen" class="navigation primary hide-for-large off-canvas position-top is-closed" role="navigation" data-transition="overlap" data-off-canvas>
  <!-- Navigation items -->
  <ul>
    <li>
      <a id="IntroductionAnchorSmallScreen" href="#Introduction">
        <span class="ordinal">01</span>
        Who We Are
      </a>
    </li>
    <li>
      <a id="ServicesAnchorSmallScreen" href="#Services">
        <span class="ordinal">02</span>
        Services
      </a>
    </li>
    <li>
      <a id="ClientHighlightsAnchorSmallScreen" href="#ClientHighlights">
        <span class="ordinal">03</span>
        Clients
      </a>
    </li>
    <li>
      <a id="ContactAnchorSmallScreen" href="#Contact">
        <span class="ordinal">04</span>
        Contact
      </a>
    </li>
    <li><a id="LibraryLinkSmallScreen" href="/Library/" class="ancillary">Library</a></li>
  </ul>
  <!-- /Navigation items -->

  <!-- Annotation -->
  <img class="annotation" src="/Images/Header/Mobile/Contact.Annotation.png" alt="Let us build your product" />

  <!-- Menu close icon -->
  <button class="menu-toggle close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

</nav>

<nav id="PrimaryNavigation" class="navigation primary show-for-large" role="navigation">

  <!-- Navigation items -->
  <ul>
    <li>
      <a id="IntroductionAnchor" href="#Introduction">
        <span class="ordinal">01</span>
        Who We Are
      </a>
    </li>
    <li>
      <a id="ServicesAnchor" href="#Services">
        <span class="ordinal">02</span>
        Services
      </a>
    </li>
    <li>
      <a id="ClientHighlightsAnchor" href="#ClientHighlights">
        <span class="ordinal">03</span>
        Clients
      </a>
    </li>
    <li>
      <a id="ContactAnchor" href="#Contact">
        <span class="ordinal">04</span>
        Contact
      </a>
    </li>
    <li><a id="LibraryLink" href="/Library/" class="ancillary">Library</a></li>
  </ul>
  <!-- /Navigation items -->

</nav>