@model NavigationViewModel

@{

  string activeNavigation       = "";
  string currentPath            = Request.Path.ToString().ToLower();

  if (currentPath.IndexOf("articles/standards") >= 0) {
    activeNavigation            = "standards";
  }
  else if (currentPath.IndexOf("articles/technologies") >= 0) {
    activeNavigation            = "technologies";
  }

}

<!-- Library Article Groups Navigation -->
<div class="navbar">
  <nav id="LibraryNavigation" class="navigation" role="navigation">
    <ul>
      <li><a href="/Library/Articles/Standards/"@((activeNavigation == "standards")? " class=\"active\"" : "")>Standards</a></li>
      <li><a href="/Library/Articles/Technologies/"@((activeNavigation == "technologies")? " class=\"active\"" : "")>Technologies</a></li>
    </ul>
  </nav>
</div>
<!-- /Library Article Groups Navigation -->