<?xml version="1.0"?>
<rules>

  <!-- HOSTNAME REDIRECT -->
  <rule name="Redirect to www" stopProcessing="true">
    <match url="(.*)" />
    <conditions>
      <add input="{HTTP_HOST}" pattern="^ignia\.com" ignoreCase="true" />
    </conditions>
    <action type="Redirect" url="https://www.ignia.com/{R:1}" redirectType="Permanent" />
  </rule>

  <rule name="Root Hit Redirect" stopProcessing="true">
    <match url="^$" />
    <action type="Redirect" url="/Web/Home/" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Root Redirect" stopProcessing="true">
    <match url="^Home/$" />
    <action type="Redirect" url="/Web/Home/" redirectType="Permanent" />
  </rule>
</rules>